<div class="row container mt-4">
  <div class="col-12" style="display: flex; justify-content: left; margin-bottom: 0px; padding-bottom: 0px;">
    <h2 style="color: seagreen; margin-bottom: 0px; padding-bottom: 0px; font-size: 30px; font-style: italic;"> SMC Energy Efficiency </h2>
  </div>
</div>
<hr>
<div style="display: flex; flex-direction: row; margin-bottom: 3vh;">
  <div style="border: 1px solid black; text-align: center; background-color: #BDECB6;  width: 100%;">
    <div style="display: flex; flex-direction: row; padding: 10px;">
      <li routerLink="" routerLinkActive="active" style="margin-right: 10px; cursor: pointer;">Statistics</li>
      <li routerLink="analytics" routerLinkActive="active" style="cursor: pointer; margin-left: 20px;">Analytics</li>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
