<div class="dropdown-content-graph" style="padding-left: 20px; margin-bottom: 15px">
  <p>Select entries:</p>
  <div style="display: flex; flex-direction: row">
    <select class="browser-default custom-select" (change)="getInput($event)">
      <option selected value="default" disabled>
        Select input to regression
      </option>
      <option *ngFor="let variable of displayedInputs" [value]="variable">
        {{ variable }}
      </option>
    </select>
    <button (click)="addInput()" style="
        font-size: 18px;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        background-color: chartreuse;
        font-weight: bold;
      ">
      +
    </button>
    <button (click)="removeInput()" style="
        font-size: 22px;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        background-color: indianred;
        font-weight: bold;
      ">
      -
    </button>
  </div>
  <div *ngFor="let input of inputs">
    <div style="color: red; font-weight: bold">
      {{ input &nbsp; }}
    </div>
  </div>
</div>

<div class="dropdown-content-graph" style="padding-left: 20px; margin-bottom: 15px">
  <p>Select output:</p>
  <div style="display: flex; flex-direction: row">
    <select class="browser-default custom-select" (change)="getOutput($event)">
      <option selected value="default" disabled>
        Select output to regression
      </option>
      <option *ngFor="let variable of displayedOutputs" [value]="variable">
        {{ variable }}
      </option>
    </select>
  </div>
</div>
<div class="dropdown-content-graph" style="padding-left: 10px; margin-top: 30px">
  <button (click)="launchRegression()" style="
      width: 25vh;
      height: 3vh;
      font-size: 20px;
      margin-bottom: 5vh;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      background-color: lightblue;
    ">
    LAUNCH REGRESSION
  </button>
</div>

<div class="spinner-grow text-success spinner" role="status" *ngIf="loading" style="
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 5vh;
    padding-bottom: 10px;
  "></div>

<div style="
    margin-top: 5vh;
    padding: 0 15px 0 15px;
    border: solid 1px black;
    width: 180vh;
    margin: 0 auto;
  ">
  <h2 style="padding-top: 10px">Result</h2>
  <hr />
  <div style="display: flex; flex-direction: row">
    <div style="margin-right: 20vh">
      <p style="font-weight: bold">coeff:</p>

      <div style="display: flex; flex-direction: row">
        <div>
          <div *ngFor="let i of inputsToShow" style="margin-bottom: 18px">
            <span style="font-weight: bold"> {{ i }} </span>
          </div>
        </div>

        <div>
          <ul *ngFor="let item of coeff">
            <li style="margin-left: 20px">{{ item }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div style="margin-right: 20vh">
      <p style="font-weight: bold">pvals:</p>
      <ul *ngFor="let item of pvals">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div style="margin-right: 20vh">
      <p style="font-weight: bold">conf_lower:</p>
      <ul *ngFor="let item of conf_lower">
        <li>{{ item }}</li>
      </ul>
    </div>
    <div style="margin-right: 20vh">
      <p style="font-weight: bold">conf_higher:</p>
      <ul *ngFor="let item of conf_higher">
        <li>{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
<div style="display: flex;flex-direction: row;">

  <div style="display: flex; justify-content: left; margin-top: 5vh">
    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>'
  </div>

  <div style="display: flex; justify-content: left; margin-top: 5vh">
    <plotly-plot [data]="graphResiduos.data" [layout]="graphResiduos.layout"></plotly-plot>'
  </div>

</div>